p{
	text-indent: 20px;
	color: #6B8E23
}
h1{
	text-align: center;
	font-weight: 50px;
	font-variant: small-caps;
	font-size: 45px;
	color: #FF6347
}
h2{
	text-align: right;
		font-weight: 30px;
		text-decoration: underline;
		text-decoration-color: #008B8B;
		color: #FF1493;
		font-size: 20px;
font-style: oblique
}
blockquote{
	background-color: #00FFFF
}
code{
	color: #00FF00
}
pre{
		color: #00FF00
}
dfn{
	background-color: #FFD700;
	font-style: italic
}