body{
background: #000
}
h3{
	color: #FF1493
}
li{
	color: #FF1493
}
dl{
	font-size: 35px;
	color: #FF1493
}
A {
	font-size: 20px;
	color: #f00
}
A:visited {
	color: #FFD700
}
A:hover {
	font-family: Kashima RUS by Cop;
	font-size: 30px;
text-decoration: none;
color: #00FFFF;
cursor: help
}